---
title: About - Radu Teodorescu
---

<!-- about dr. teodorescu -->
<div class="profile-container">
  <div class="about-container">
    <div class="about-content">
      <h1>Radu Teodorescu</h1>
      <h2>Professor, Computer Science and Engineering</h2>
      <p>
        I am a Professor in the
        <a class="link-txt" href="https://cse.osu.edu/"
          >Department of Computer Science and Engineering</a
        >
        at
        <a class="link-txt" href="https://www.osu.edu/">Ohio State University</a
        >. I lead the
        <a class="link-txt" href="https://archlab.us/"
          >Architecture Research Lab</a
        >. Our research interests include computer architecture, energy
        efficient computing, security and reliability.
      </p>
      <p>
        I received my Ph.D. from the
        <a class="link-txt" href="https://siebelschool.illinois.edu/"
          >Department of Computer Science</a
        >,
        <a class="link-txt" href="https://illinois.edu/"
          >University of Illinois at Urbana-Champaign</a
        >
        where I was a member of the
        <a class="link-txt" href="https://iacoma.cs.uiuc.edu/">IACOMA</a> group
        working with
        <a
          class="link-txt"
          href="https://iacoma.cs.uiuc.edu/josep/torrellas.html"
          >Prof. Josep Torrellas</a
        >. I was the recipient of the Ohio State CSE Department Teaching Award
        in 2021, the
        <a
          class="link-txt"
          href="https://engineering.osu.edu/news/2014/04/college-recognizes-distinguished-faculty-17th-annual-awards-ceremony"
          >Lumley Award</a
        >
        in 2014, an
        <a
          class="link-txt"
          href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1253933&HistoricalAwards=false"
          >NSF CAREER award</a
        >
        in 2012,
        <a
          class="link-txt"
          href="https://www.intel.com/content/www/us/en/education/highered/higher-ed-overview.html"
          >Intel Foundation Fellowship</a
        >
        for 2007-2008 and the W. J. Poppelbaum Award for 2008.
      </p>
      <p>
        I helped organize
        <a class="link-txt" href="https://microarch.org/micro52/"
          >MICRO-52 in Columbus, Ohio</a
        >
        in October 2019 as General Chair.
      </p>
      <p>
        Thrilled to be a part of the
        <a class="link-txt" href="https://acecenter.grainger.illinois.edu/"
          >ACE Center for Evolvable Computing</a
        >, a
        <a
          class="link-txt"
          href="https://engineering.osu.edu/news/2023/01/research-consortium-focused-strengthening-semiconductor-industry"
          >SRC/DARPA JUMP 2.0</a
        >
        center. I am leading the
        <a
          class="link-txt"
          href="https://acecenter.grainger.illinois.edu/about/research-theme-4"
          >Security, Privacy and Correctness Theme</a
        >, devising novel technologies for evolvable and scalable distributed
        computing.
      </p>
      <p>
        I am looking for motivated students to join my research group. For more
        details and research updates please visit
        <a class="link-txt" href="...">my group's website</a>. If you are
        interested in working with us send me an email or drop by my office.
      </p>
      <div class="about-contact">
        <p>
          797 Dreese Labs<br />
          2015 Neil Ave.<br />
          Columbus, OH 43065<br />
          (614) 292-7027
        </p>
      </div>
    </div>
    <div class="about-image">
      <%= image_tag "teodorescu.jpeg", alt: "Dr. Teodorescu" %>
    </div>
  </div>
</div>
