<div class="footer-content">
  <div class="footer-logo">
     <%= link_to image_tag("osu-coe.png", alt: "The Ohio State University"), "/" %>
  </div>
  <div class="footer-info">
    <h3>Department of Computer Science and Engineering</h3>
    <p>395 Dreese Laboratories</p>
    <p>2015 Neil Avenue</p>
    <p>Columbus, OH 43210-1277</p>
  </div>
  <div class="footer-connect">
    <h3>Connect</h3>
    <div class="social-icons">
      <a href="http://www.facebook.com/pages/Computer-Science-and-Engineering-at-The-Ohio-State-University/102840386471502" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="http://www.youtube.com/user/OhioStateCSE" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <!-- This will automatically update the year -->
  <p>&copy; <%= Time.now.year %> The Ohio State University</p>
  <ul>
    <li><a href="https://cse.osu.edu/siteinfo/accessibility">Accessibility Policy</a></li>
    <li><a href="https://go.osu.edu/privacy">Privacy Policy</a></li>
    <li><a href="https://ets.osu.edu/">Help</a></li>
    <li><a href="https://cse.osu.edu/user">Log in</a></li>
  </ul>
</div>
